

<div class=" container central-block">
  <div class="row">
    <div class="col-4">
      <%= cl_image_tag @toothbrush.photo.key, height: "100%", width: "100%" %>
    </div>
    <div class="col-8">
      <h1>Rent on: <%= @rental.date %></h1>
      <h4><strong>Status: </strong><%= @rental.status %></h4>
      <p><%= @user.last_name.capitalize %> <%= @user.first_name.capitalize %> rent this toothbrush</p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12 text-center">
      <%= link_to 'Rentals', rentals_path, class: 'btn btn-primary mx-2' %>
      <%= link_to 'Toothbrush', toothbrushes_path, class: 'btn btn-primary mx-2' %>
    </div>
  </div>
</div>

