<div class=" container central-block">
  <div class="row">
    <div class="col-4">
      <%= cl_image_tag @toothbrush.photo.key, height: "100%", width: "100%" %>
    </div>
    <div class="col-8 py-3">
      <h1><%= @toothbrush.title %></h1>
      <h4>Rent on: <%= @rental.date %></h4>
      <% if @rental.status == "Accepted" || @rental.status == "Denied" %>
          <h5><strong>Status: </strong><%= @rental.status %></h5>
      <% else %>
        <div class="dropdown show-dropdown">
          <h5><strong>Status: </strong></h5>
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @rental.status %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if policy(Rental).accept? %>
            <%= link_to 'Accept', accept_rental_path(@rental), class: "dropdown-item dropdown-accept", method: :patch %>
            <%= link_to 'Deny', deny_rental_path(@rental), class: "dropdown-item dropdown-deny", method: :patch %>
            <% end %>
          </div>
        </div>
      <% end %>
      <p><%= @user.last_name.capitalize %> <%= @user.first_name.capitalize %> rent this toothbrush</p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12 text-center">
      <%= link_to 'Rentals', rentals_path, class: 'btn btn-primary mx-2' %>
      <%= link_to 'Toothbrush', toothbrushes_path, class: 'btn btn-primary mx-2' %>
    </div>
  </div>
</div>

