<div class="index_container mb-4">
  <h1 class="p-3">Welcome to Toothbrush Paradise</h1>

  <div class="toothbrush_container">
    <% @toothbrushes.each do |toothbrush| %>
      <div class="card-trip m-3">
        <%= cl_image_tag toothbrush.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to toothbrush.title, toothbrush_path(toothbrush) %></h2>
            <p><%= toothbrush.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= toothbrush.price %>$</h2>
          <% if !user_signed_in? || current_user.photo.attached? == false %>
            <%= image_tag "smile", class: "card-trip-user avatar-bordered" %>
          <% else %>
            <%= cl_image_tag current_user.photo.key, class:"card-trip-user avatar-bordered" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="add-tb">
  <%= link_to 'Toothbrush', new_toothbrush_path %>
  <i class="fas fa-plus" style='color: #f93e4a'></i>
  </div>
</div>

