<div class="index_container mb-4">
  <h1 class="p-3">Welcome to Toothbrush Paradise</h1>

  <div class="toothbrush_container">
    <% @toothbrushes.each do |toothbrush| %>
      <div class="card-trip m-3">
        <%= cl_image_tag toothbrush.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to toothbrush.title, toothbrush_path(toothbrush) %></h2>
            <p><%= toothbrush.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= toothbrush.price %>$</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Create new toothbrush', new_toothbrush_path %>
</div>

