<div class="show_container">
  <div class="show_title">
    <h2> <%= @toothbrush.title %> </h2>
  </div>
  <div class="toothbrush_description">
    <ul>
      <li><p> <%= @toothbrush.description %> </p></li>
      <li><p> <%= @toothbrush.status %> </p></li>
      <li><%= link_to "Edit", edit_toothbrush_path(@toothbrush) %></li>
      <li><%= link_to "Delete", "/toothbrushes/#{@toothbrush.id}", method: :destroy %></li>
    </ul>
  </div>
</div>
<%= link_to "Create Toothbrush", new_toothbrush_path, class: 'btn btn-primary create_btn' %>

